body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: auto;
}

input, button {
    margin: 5px;
    padding: 8px;
    width: 90%;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    padding:10px;
    border-bottom:1px solid #ddd;
    text-align:left;
}

th{
    background:#f4f6f9;
}
