body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: auto;
}

input, button {
    margin: 5px;
    padding: 8px;
    width: 90%;
}
